.content {
    height: 100px;
    background-image: linear-gradient(to right, darkorange , red);
    padding: 30px 5% 15px 5%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 55px;
    grid-column-gap: 5px;
}

.contentActive {
    grid-template-columns: 1fr;
}

.searchBar {
    height: 55px;
    background: rgba(255, 255, 255, 0.2);
    display: grid;
    grid-template-columns: 50px 1fr;
}

.inputDefault {
    width: 100%;
    height: 100%;
    border: none;
    background: rgba(255, 255, 255, 0);
    padding-right: 5px;
}

.inputDefault,
.inputDefault::placeholder {
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
}

.inputDefault:focus {
    outline: none;
}

.searchIcon {
    width: 55px;
    background: #FFF;
    border-radius: 2px;
}

.searchIcon > * {
    fill: orange;
}

.whitePlayerIcon > * {
    fill: #FFF;
}

@media only screen and (max-width: 576px) {
    .inputDefault,
    .inputDefault::placeholder {
        font-size: 13px;
    }
}
