:global {
  html,
  body {
    margin: 0;
    background-color: lightblue;
  }

  * {
    box-sizing: border-box;
  }
}

.container {
  background-color: #FFF;
  width: 90%;
  margin: 0 auto;
  height: 100%;
}
